@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexElement(
    $derection,
    $column,
    $row
){
    display: flex;
    flex-direction: $derection;
    column-gap: $column;
    row-gap: $row;
}

@mixin flexContent(
    $derection: column,
    $justify:center,
    $align:center,
    $row:0,
    $column:0,
)
{
    display: flex;
    flex-direction: $derection;
    justify-content: $justify;
    align-items: $align;
    row-gap: $row;
    column-gap: $column;
}