@mixin flexCol{
    display: flex;
    flex-direction: column;
}

@mixin flexDir(
    $derection,
    $column,
    $row
){
    display: flex;
    flex-direction: $derection;
    column-gap: $column;
    row-gap: $row;
}

@mixin flexAll(
    $derection: column,
    $justify:center,
    $align:center,
    $row:0,
    $column:0,
)
{
    display: flex;
    flex-direction: $derection;
    justify-content: $justify;
    align-items: $align;
    row-gap: $row;
    column-gap: $column;
}

@mixin bgImg($url){
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}