@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$defaultFont:'Roboto', sans-serif;
$defaultOrange: rgb(226, 134, 60);
$defaulyLightOrange:rgb(251,197,166);
$defaultGray:rgb(119,119,119);
$defaultLightGray:rgb(174, 174, 174);
$defaultBlue: rgb(9,105,194);
$bgPortfolio:rgb(61,63,63);
$bgfigcap:rgb(228, 228, 228);
$fontSizeH1Mob:32px;
$fontSizeH1Tab:28px;
$fontSizeH1Des:40px;
$fontSizeH2Mob:48px;
$fontSizeH2Tab:30px;
$fontSizeH2Des:48px;
$fontSizeH3Mob:20px;
$fontSizeH3Tab:30px;
$fontSizeH3Des:30px;
$fontSizeH4Mob:18px;
$fontSizeH4Tab:20px;
$fontSizeH4Des:18px;
$fontSizePMob:12px;
$fontSizePTab:14px;
$fontSizePDes:16px;
$minWidthMob:300px;
$minWidthTab:700px;
$minWidthDes:1000px;

