@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$defaultFont:'Roboto', sans-serif;
$defaultOrange: rgb(241,108,0);
$defaultGray:rgb(119,119,119);
$defaultBlue:rbg(47,135,208);
$bgPortfolio:rgb(61,63,63);
$bgfigcap:rgb(245,245,245);
$fontSizeH1Mob:32px;
$fontSizeH1Tab:40px;
$fontSizeH1Des:40px;
$fontSizeH2Mob:48px;
$fontSizeH2Tab:48px;
$fontSizeH2Des:48px;
$fontSizePMob:14px;
$fontSizePTab:14px;
$fontSizePDes:14px;
$minWidthMob:300px;
$minWidthTab:700px;
$minWidthDes:1000px;

