@media(min-width:$minWidthTab){
    nav{
        > section:first-child{
            flex-direction: row;
            justify-content: space-evenly;
            // border: 1px solid red;
            padding-top: 2%;
            padding-bottom: 1%;
        }

        article{
            // border: 1px solid red;
            padding-left: 5%;
            width: 50%;

            a{
                font-size: 14px;
            }
        
        }

        aside{
            width: 40%;
            padding-right: 5%;
            column-gap: 2vh;
            
            a{
                height: 6vh;
                width: 6vh;
            }

            i{
                font-size: 16px;
            }
        }

        >section:last-child{
            h1{
                font-size: $fontSizeH1Tab;
            }

        }

        summary{
            font-size: 24px;
        }
    }

    header{
        height: 38vh;

        > section{
            height: 100%;
            @include flexAll(column,center,center,1vh,0);
        }

        h2{
            display: block;
            color: white;
            text-transform: uppercase;
            font-size: $fontSizeH2Tab;
        }

        span{
            display: block;
            color: rgba(255, 255, 255, 0.514);
            font-size:30px;
        }

        p{
            display: block;
            color: white;
            width: 65%;
            text-align: center;
        }
    }

    .services{
        padding-bottom: 13vh;
        h3{
            font-size: $fontSizeH3Tab;
            font-weight: 300;
        }

        > article{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 5vh;
            width: 90%;
        }

        aside{
            width: 45%;
        }

        p{
            font-size: $fontSizePTab;
        }
    }

    .portfolio{
        h3{
            font-size: $fontSizeH3Tab;
            font-weight: 300;
        }

        > article{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 1vh;
            column-gap: 2vh;
            width: 90%;

        }

        figure{
            width: 45%;
        }

        img{
            height: 30vh;
        }

    }
}